body {
    background-color:#ff6600;
    font-size: 62.5%;
}

#principal {
    width:95%;
    border-style:solid;
    border-width:0.2em;
    border-color:#ffa500;
    background-color:#ffa500;
    padding:0;
    margin:2%;
}

#titulo {
    width:100%;
    height:1.8em;
    padding-top:0.05em;
    border-style:solid;
    border-color:#ffa500;
    border-width:0.02em;
    background-color:#F1EEE8;
    margin:0 0 0 0;
    font-size:4em;
    font-weight:bold;
    letter-spacing:.2em;
}

#titulo img {
    vertical-align:text-top;
}
#informacoes{
    float:left;
    width:49.6%;
    text-align:left;
    font-size:1.2em;
    color:black;
    list-style:none;
    padding:1px;
}

#informacoes h2 {
text-align:center;
}

#camadas {
    background-color:#ffffff;
    background-image:url('img/gradient1.png');
    background-repeat:repeat-x;
    float:left;
    width:28.8%;
}
#indicadores {
    background-color:#ffffff;
    background-image:url('img/gradient2.png');
    background-repeat:repeat-x;
    float:right;
    width:70%;
}

#camadas, #indicadores {
    height: 510px;
    margin:0 0 0 0.05em;
    border-style:solid;
    border-color:#fff029;
    border-width:thin;
}

#indicadores-1, #indicadores-2{
    margin:0;
    width:50%;
}

#indicadores-1{
    float:left;
}

#indicadores-2{
    float:right;
    font-size:1.2em;
}
#map_element {
    background-color:#000000; 
    float: right;
    height:510px;
    width:50%;
    margin:0 0 0 0;
    border-style:solid;
    border-color:#fff029;
    border-width:thin;
    padding:0px;
}

#mouse_id {
    clear: both;
    width:100%;
    height:15px;
    padding-top:5px;
    background-color:#ffa500;
    text-align:center;
    font-size:1em;
    margin:0 0 0 0;
    border-style:solid;
    border-width:thin;
    border-color:#fff029;
}

#layers_info {
    width:100%;
    height:15px;
    padding-top:5px;
    background-color:#ffa500;
    text-align:center;
    font-size:1em;
    margin:0 0 0 0;
    border-style:solid;
    border-width:thin;
    border-color:#fff029;
}

.olControlPanel{
    position:relative;
    top:0.4em;
    right:17.6em;
    z-index:9;
}

.olControlTransparenciaItemInactive {
    background: #22dd22 url("./img/transparencia.png");
    border: 1px solid #A19898;
    cursor: pointer;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

.olControlButtonInfoItemActive{
    background:#22dd22 url("./img/info_onp.png");
    border: 1px solid #A19898;
    cursor: pointer;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 0;
    right:3em;
}

.olControlButtonInfoItemInactive{
    background:#22dd22 url("./img/info_offp.png");
    border: 1px solid #A19898;
    cursor: pointer;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 3em;
}

.olControlScaleLine {
      color:#FF0032;
}
.olControlMousePosition {
    font-size:1em;
    padding-right:20em;
}
#camadas bullet:before {
    padding-right: 1em; 
    content: "■";
}
bullet.cor_IND_RENDA {
color:#db1917;
}
bullet.cor_IND_BANDALARGA {
color:#158958;
}
bullet.cor_IND_COR {
color:#171adb;
}
bullet.cor_IND_ESCOLARIDADE {
color:#ae329d;
}
bullet.cor_IND_BANCARIA {
color:#271717;
}

.line{
    margin-bottom:0.1em;
    margin-left: 0.5em;
    height:1.2em;
}
.linequartil{
    margin-bottom:0.1em;
    margin-left: 0.5em;
    height:1.2em;
    font-size: 1em;
}

.chart{
    font-family:sans-serif;
}
.chartsvg{
    font-family:sans-serif;
    margin-left: 6em;
}

.label {
    float:right;
    text-align:left;
    margin-left: 6em;
    font-size: 0.8em;
}

.chart0, .chart1, .chart2, .chart3, .chart4  {
    text-align: left;
    color: white;
    font-size: 0.8em;
}
.chart0  {
/*  cor CHART0
    background-color: #1f77b4 ;  */
    background-color: #867D7D ;
}
.chart1 {
/*  cor CHART1  */
    background-color: #2ca02c;
}
.chart2 {
/*  cor CHART2  */
    background-color: #ff7f0e;
}
.chart3 {
/*  cor CHART3  */
    background-color: #d62728;
}
.chart4 {
    background-color: #271717;
}
.historyClass{
    position: relative;
    top: 8em;
    right: 12.5em;
    z-index: 999;
}
.olControlNavigationHistory{
    float: right;
}
.olControlScale {
    left: 1em;
    bottom:4em;
    font-size:xx-small;
}
ul.a,ul.b,ul.c,ul.d{
    list-style-type:square;
    padding:0;
    margin:0 0 0 2em;
}
ul.a li { 
    padding-left: 1em; 
    text-indent: 0.5em;
    margin:0;
    color:#867D7D;
}
ul.b li { 
    padding-left: 1em; 
    text-indent: 0.5em;
    margin:0;
    color:#2ca02c;
}
ul.c li { 
    padding-left: 1em; 
    text-indent: 0.5em;
    margin:0;
    color:#ff7f0e;
}
ul.d li { 
    padding-left: 1em; 
    text-indent: 0.5em;
    margin:0;
    color:#d62728;
}
