.olControlPanel{
    position:relative;
    top:0.4em;
    right:17.6em;
    z-index:9;
}

.olControlTransparenciaItemInactive {
    background: #22dd22 url("./img/transparencia.png");
    border: 1px solid #A19898;
    cursor: pointer;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

.olControlButtonInfoItemActive{
    background:#22dd22 url("./img/info_onp.png");
    border: 1px solid #A19898;
    cursor: pointer;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 0;
    right:3em;
}

.olControlButtonInfoItemInactive{
    background:#22dd22 url("./img/info_offp.png");
    border: 1px solid #A19898;
    cursor: pointer;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 3em;
}

.olControlScaleLine {
      color:#FF0032;
}
.olControlMousePosition {
    font-size:1em;
    padding-right:20em;
}

.historyClass{
    position: relative;
    top: 8em;
    right: 12.5em;
    z-index: 999;
}
.olControlNavigationHistory{
    float: right;
}
.olControlScale {
    left: 1em;
    bottom:4em;
    font-size:xx-small;
}
/**
 * Layer switcher
 */
.olControlLayerSwitcher {
    background-color:transparent;
    width:20em;
    font-size:x-small;
    color: #25260E;
}

.olControlLayerSwitcher .layersDiv {
    background-color:#FCFBF9;
    background-image:url(./img/gradient1.png) !important;
    background-repeat:repeat-x;
    font-size:x-small;
    font-style:italic;
    border-radius: 4em;
    border-width: 0 .8em .8em 0;
    border-style:solid;
    border-color: #C8D3D8;
}
.olControlLayerSwitcher .layersDiv .baseLb1,
.olControlLayerSwitcher .layersDiv .dataLb1 {
   font-style:italic;
   font-weight:bold;
}
.olControlOverviewMapElement {
    background-color:#3A6829;
}


ul.a,ul.b,ul.c,ul.d{
    list-style-type:square;
    padding:0;
    margin:0 0 0 2em;
}
ul.a li { 
    padding-left: 1em; 
    text-indent: 0.5em;
    margin:0;
    color:#867D7D;
}
ul.b li { 
    padding-left: 1em; 
    text-indent: 0.5em;
    margin:0;
    color:#2ca02c;
}
ul.c li { 
    padding-left: 1em; 
    text-indent: 0.5em;
    margin:0;
    color:#ff7f0e;
}
ul.d li { 
    padding-left: 1em; 
    text-indent: 0.5em;
    margin:0;
    color:#d62728;
}
